body {
    background-color: darkgray;
    text-align: center;
       margin: 0;
       padding: 0;

       display: flex;
       align-items: center;
       justify-content: center;
       height: 100vh;
       text-align: center;
      font-family:'Times New Roman', Times, serif ;
}
.container {
       background-color: aliceblue;
       position: relative;
       height: 500px;
       width: 450px;
       border-radius:10px;
       padding: 100px;
       box-sizing: border-box;
       box-shadow:10px 10px 5px grey;
}

  
.brand-title {
       color:rgb(0,140,255);
   }
   .inputs {
       text-align: left;
       margin-top:20px;
   }
   input,button,label{
       display: block;
       width:100%;
       border: none;
       box-sizing: border-box;
   }
   label{
       margin-top:10px;
       color:rgb(0,140,255);
   }
   input{
       background:white;
       padding:10px;
       height:50px;
       border-radius:50px;
       box-shadow:2px 2px 5px rgb(210,209,209);
   }
   button{
       background-color:rgb(0,140,255); 
       color: white;
       margin-top:20px;
       padding: 10px;
       border-radius:20px;
       font-weight:bold;
       cursor: pointer;
       box-shadow:2px 2px 5px rgb(210,209,209);
   }
   button:hover {
       background-color: bisque;
       color: black;
   } 
   p{
       text-align: center;
   }
   
   
   